@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

* {
  font-family: 'Roboto', sans-serif;
}

card {
  background: yellow;
}

.loading {
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 2rem;
  padding: 15px;
  color: #ccc;
}

li {
  list-style: none;
}


.overflow-scroll {
  max-height: 500px;

}

ul {
  padding-top: 25px;
}

#cardtitle {
  padding-bottom: 15px;
}

hr {
  margin-bottom: 25px;
  margin-right: 25px;
}

CardActions {
  padding-left: 0!important;
  margin-left: 0!important;
}

.etc {
  color: grey;
  font-weight: 400;
  font-size: 1rem;
}

.material-icons {
  font-size: 1rem;
}

.weather-description {
  text-transform: capitalize;
}

.weather-box {
  padding-left: 25px;
  padding-top: 25px;
}
